[build]
  command = "npm run build --no-lint"
  publish = ".next"

[build.environment]
  NODE_VERSION = "20.9.0"
  NEXT_TELEMETRY_DISABLED = "1"
  ESLINT_NO_DEV_ERRORS = "true"
  NEXT_DISABLE_ESLINT = "1"

# Utiliser le plugin Next.js de Netlify
[[plugins]]
  package = "@netlify/plugin-nextjs"

[[headers]]
  for = "/images/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"
